@model MedNoteSearchViewModel

<style>
                body {font-family: "Times New Roman", Georgia, Serif;}
                h1, h2, h3, h4, h5, h6 {
                font-family: "Playfair Display";
                letter-spacing: 5px;
                }
</style>


<!-- search form -->
<form asp-controller="MedicalHistory" asp-action="Index" class="d-flex flex-row align-items-center">
    <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="MedNoteRange" value="@MedNoteRange.ALL">
        <label class="form-check-label" for="Range">All</label>
    </div>
    <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="MedNoteRange" value="@MedNoteRange.CURED">
        <label class="form-check-label" for="Range">Cured</label>
    </div>
    <div class="form-check me-3">
        <input class="form-check-input" type="radio" asp-for="MedNoteRange" value="@MedNoteRange.ONGOING" >
        <label class="form-check-label" for="Range">Ongoing</label>
    </div>
   
    <button class="btn standard" type="submit">Search</button>
</form>