<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Subscription Options</title>
<link rel="stylesheet" href="site.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
<style>
                body {font-family: "Times New Roman", Georgia, Serif;}
                h1, h2, h3, h4, h5, h6 {
                font-family: "Playfair Display";
                letter-spacing: 5px;
                }
</style>
</head>
<h2>Why Sponsor?</h2>

<img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6BdtQAF7nOcxiAVmP7dknQ8yQFHh3MIrFIA&usqp=CAU" width = "650px" height = "450px" padding = "20px" >

<h3>How your sponsorship benefits dogs</h3>
<li>
    We're the largest dog welfare charity and last year alone we cared for over 15,000 dogs. Most dogs find loving new homes within about six weeks but those who need a little extra care are always safe with us because we never destroy a healthy dog.
</li>
<li>
    We are reliant on the generosity of the public to help dogs in need, so by sponsoring a dog for as little as £1 per week means you won’t just be helping your sponsor dog but all their friends too!
</li>


<h3>Why we need your help</h3>
<li>With more than 1,600 stray and abandoned dogs in our care at any one time, we really need your help. We receive no government funding and are totally dependent on the generosity of people like you.</li>

<h3>You'll get a best friend for life</h3>
<li>When you decide to sponsor a dog, you'll receive a sponsorship pack, including a special photo certificate of your new pooch pal, two photo postcards, a window sticker and a fridge magnet.</li>


<body>
    <div class="pricing-plan-container">

        <section class="pricing-plan">
            <div class="pricing-plan__header">
                <h1 class="pricing-plan__title" >Basic Plan</h1>
                <h2 class="pricing-plan__summary">For those getting started</h2>
            </div>
            <div class=".pricing-plan__description">
                <ul class="pricing-plan__list">
                    <li class="pricing-plan__feature">Sponsor 1 dog</li>
                    <li class="pricing-plan__feature">Receive emails on updates of your sponsor dog</li>
                </ul>
            </div>
            <div class="pricing-plan__actions">
                <p class="pricing-plan__cost">£5.00</p>
                <p class="pricing-plan__text">per month</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2VL4WNYCVLTN8">
                    <input class="pricing-plan__button" type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
        </section>

        <section class="pricing-plan pricing-plan--highlighted">
            <div class="pricing-plan__special-text">Recommended</div>
            <div class="pricing-plan__header">
                <h1 class="pricing-plan__title" >Premium Plan</h1>
                <h2 class="pricing-plan__summary">For those that want the most</h2>
            </div>
            <div class=".pricing-plan__description">
                <ul class="pricing-plan__list">
                    <li class="pricing-plan__feature">Sponsor 3 dogs</li>
                    <li class="pricing-plan__feature">Receive postcards from your sponsor dogs</li>
                    <li class="pricing-plan__feature">Free cuddly toy every month</li>
                    <li class="pricing-plan__feature">Can visit your sponsor dogs at anytime</li>
                </ul>
            </div>
            <div class="pricing-plan__actions">
                <p class="pricing-plan__cost">£14.00</p>
                <p class="pricing-plan__text">per month</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="K5XDVJEUL9NJC">
                    <input class="pricing-plan__button" type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>
        </section>

        <section class="pricing-plan">
            <div class="pricing-plan__header">
                <h1 class="pricing-plan__title" >Intermediate Plan</h1>
                <h2 class="pricing-plan__summary">The perfect all-rounder</h2>
            </div>
            <div class=".pricing-plan__description">
                <ul class="pricing-plan__list">
                    <li class="pricing-plan__feature">Sponsor two dogs</li>
                    <li class="pricing-plan__feature">Receive postcards from your sponsor dogs</li>
                </ul>
            </div>
            <div class="pricing-plan__actions">
                <p class="pricing-plan__cost">£9.00</p>
                <p class="pricing-plan__text">per month</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="R7G5FGUUE7R9Y">
                    <input class="pricing-plan__button" type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>
        </section>
    </div>
   
</body>

