<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Information page on Pawfect Homes</title>
        <link rel="stylesheet" href="site.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
                body {font-family: "Times New Roman", Georgia, Serif;}
                h1, h2, h3, h4, h5, h6 {
                font-family: "Playfair Display";
                letter-spacing: 5px;
                }
        </style>
    </head>
<body>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://th.bing.com/th/id/OIP.LOEmmQ6Ruizli-ZfNrFewwHaD9?w=306&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Pawfect Homes</h1><br>
      <h3 class="w3-center">Our mission is to bring about the day when all dogs can enjoy a happy life, free from the threat of unnecessary destruction.</h3>
      <p class="w3-large w3-center">Help provide life changing care.We receive no direct government funding and rely on the generosity of our supporters to help us achieve our mission.
                          Money raised is used to invest in our fantastic rehoming centres so that they can continue to be there for the nations dogs'; to fund preventative work to help protect dogs in the future; and to invest in, develop and promote information to help dog owners understand the needs of their pooch pals.
                          Help provide life changing care and forever homes for our furry friends.
      </p>
    </div>
  </div>
  
  <hr>
  
  <!-- Success Story Section -->
  <div class="success-stories">
    <div class="inner">
        <h1>Success Stories</h1>
        <div class="border">

        </div>
        <div class="row">
            <div class="col-4">
                <div class="success-stories">
                    <img src="https://www.pitpat.com/wp-content/uploads/2020/12/Dog_-rights_CU_outdoors_puppy_stationary_-sitting-_cockapoo-1024x768.jpg">
                    <div class="name">Max</div>
                    <p>"We're so happy that we got to take Max home."</p>
                </div>
            </div>
            <div class="col-4">
                <div class="success-stories">
                    <img src="https://th.bing.com/th/id/OIP.p2MvDlWJWQo-4fQ5n_ivwQHaE8?pid=ImgDet&rs=1">
                    <div class="name">Arlo</div>
                    <p>"Arlo has brought so much enjoyment to our lives."</p>
                </div>
            </div>
            <div class="col-4">
                <div class="success-stories">
                    <img src="https://i2-prod.mirror.co.uk/incoming/article6285059.ece/ALTERNATES/s615b/Sausage-dog-on-wheels.jpg">
                    <div class="name">Keith</div>
                    <p>"Keith is having the best time scooting about on his new wheels after his leg operation.  Despite them always getting stuck in the sand at the beach."</p>
                </div>
            </div>
        </div>
    </div>
  </div>

  <hr>
  
<!-- End page content -->
</div>

</body>
</html>


