<div class="text-center">
    <h1>PAWFECT HOMES</h1> 
</div>

<div class="callout callout-info text-center">
    <h1>Home Page</h1>
    <p>Welcome to our Rehoming Centre Management Service !!</p>
    <p class="text-center"> Today is <b> @DateTime.Now.ToLongDateString() </b> </p>
</div>
<div class="text-center">
    @ViewBag.Message <b>@ViewBag.LongTime</b>
</div>


