<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FMS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SMS.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://ulster-my.sharepoint.com/:i:/r/personal/black-s31_ulster_ac_uk/Documents/logo%20(7).png?csf=1&web=1&e=klsUpi" width="200" height = "110" alt ="Logo for Pawfect Homes web appplication"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                   
                    <!-- login partial can go here -->
                    <partial name="_Login" />

                    <!-- other nav bar items here -->
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><button class = "btn default">Home</button></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Dog" asp-action="Index"><button class = "btn default">Dogs</button></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-condition=@(User.IsInRole("volunteer") || User.IsInRole("manager")) asp-controller="MedicalHistory" asp-action="Index"><button class = "btn default">Medical History</button></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-condition=@(User.IsInRole("volunteer") || User.IsInRole("manager")) asp-controller="AdoptionApplication" asp-action="Index"><button class = "btn default">Adoption Applications</button></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-condition=@(User.IsInRole("manager")) asp-controller="User" asp-action="CreateNewUser"><button class = "btn default">Create New Users</button></a>
                        </li>
                    

                        <!-- company dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-condition=@(User.IsInRole("guest")) data-bs-toggle="dropdown" href="#" 
                               role="button" aria-expanded="false"><button class = "btn default">Our Organisation</button></a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                                <li> <a class="dropdown-item" asp-controller="Home" asp-action="About">About</a></li>
                                <li> <a class="dropdown-item" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                             </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <!-- render the alert partial -->
        <partial name ="_AlertIcons" />
       
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Pawfect Homes - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>  
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
