<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hello @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="User" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login"><img src ="https://ulster-my.sharepoint.com/:i:/r/personal/black-s31_ulster_ac_uk/Documents/enter.png?csf=1&web=1&e=iZ6aAN" width = "30" height ="30" title="Login here"></a>
            <p><b>Login&nbsp;&nbsp;&nbsp;</b></p>
        </li>
        <li class="nav-item" padding = "2px" >
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register"><img src ="https://ulster-my.sharepoint.com/:i:/r/personal/black-s31_ulster_ac_uk/Documents/personal.png?csf=1&web=1&e=VeB1hz" width = "30" height ="30" title="Register here"></a>
        <p><b>Register</b></p>
        </li>
    }
</ul>