@model AdoptionApplication

<style>
                body {font-family: "Times New Roman", Georgia, Serif;}
                h1, h2, h3, h4, h5, h6 {
                font-family: "Playfair Display";
                letter-spacing: 5px;
                }
</style>

<h3 class="mt-4">Adoption Application</h3>

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("/dog","Dogs"),
    ($"/dog/details/{Model.DogId}",$"{Model.DogId}"),
    ("","Create Adoption Application")
}) />

<form asp-action="AdoptionApplicationCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   
    <input type="hidden" asp-for="DogId" class="form-control"/>

    <div class="mt-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control"/>
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>


    <div class="mt-3">
        <label asp-for="Information" class="form-label"></label>      
        <textarea rows="5" asp-for="Information" class="form-control"></textarea>
        <span asp-validation-for="Information" class="text-danger"></span>
    </div>
   
    <div class="mt-3">
        <input type="submit" value="Create" class="btn btn-primary"/>
        <a class="btn btn-secondary" asp-action="Details" asp-route-id=@Model.DogId>Cancel</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}