<!DOCTYPE html>
<head>
    <title>Pricing Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="./pricing-table.css">
</head>

<body>
    <section class="pricing-plan">
        <div class="pricing-plan__header">
            <h1 class="pricing-plan__title" >Starter Plan</h1>
            <h2 class="pricing-plan__summary">For those getting started</h2>
        </div>
    </section>
</body>